$browser-default-font-size: 75px!default;
@function pr($px){
  @return $px / $browser-default-font-size * 1rem;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
  display: inline-block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  *margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

input[type="text"],
input[type='radio'],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }

  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }

  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }

  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
}

input,
textarea,
select {
  background-color: transparent;
  font-family: '微软雅黑';
}

select {
  border: none;
  text-indent: 1em;
  //background: url(../images/tri.png) no-repeat 95% center;
}

option {
  text-indent: 19px;
  font-family: '微软雅黑';
}

input[type='text'],
select {
  border: none;
  text-indent: 1em;
}

/* 测评模块 */
.appraisal {
  width: pr(740px);
  background-color: #ffffff;
  box-shadow: 0 0 pr(20px) 0 rgba(176, 179, 184, 0.45);
  border-radius: 0 0 pr(60px) pr(60px);
  margin: pr(130px) auto pr(10px); // 居中
  border-top: 1px solid transparent; // 解决 margin-top 塌陷
  padding-bottom: pr(33px);
  box-sizing: border-box;
  //display: none;
  .top {
    height: pr(240px);
    margin-top: pr(-120px);
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .text {
      position: absolute;
      top: pr(195px);
      left: pr(136px);
      font-size: pr(14px);
      color: #f2f2f2;

      span {
        color: #fdff5b;
      }
    }
  }
  .appraisal-data {
    width: 100%;
    //height: 1120px;
    margin-bottom: pr(28px);
    ul {
      padding-top: pr(20px);
      box-sizing: border-box;
      li {
        margin: pr(10px) pr(10px) pr(18px) pr(40px);
        p {
          margin-bottom: pr(30px);
          margin-top: pr(2px);
          margin-left: -1px;
          font-size: pr(16px);
          color: #333333;
          input{
            width: pr(102px);
            height: pr(30px);
            border-radius: pr(4px);
            border: solid 1px #dddddd;
            box-sizing: border-box;
            margin-left: 1em;
            margin-right: 1em;
          }
        }
        span {
          display: inline-block;
          min-width: pr(146px);
          position: relative;
          margin-bottom: pr(22px);
          padding-left: pr(29px);
          cursor: pointer;
          font-size: pr(14px);
          height: pr(14px);
          line-height: pr(14px);
          color: #666666;
          padding-right: pr(24px);
          box-sizing: border-box;
          &:before {
            content: "";
            width: pr(14px);
            height: pr(14px);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid #333333;
            box-sizing: border-box;
            vertical-align: text-top;
          }
          &:after{
            content: "";
            width: pr(8px);
            height: pr(8px);
            position: absolute;
            top: pr(3px);
            left: pr(3px);
            border-radius: 100%;
          }
          &.active{
            &:before {
              border: 1px solid #d92912;
            }
            &:after{
              background-color: #d92912;
            }
          }
        }
      }
    }
    .appraisal-form {
      margin-left: pr(40px);
      margin-right: pr(40px);
      border-top: 1px dashed #dddddd;
      padding-top: pr(30px);
      box-sizing: border-box;
      @extend %clearfix;
      input {
        float: left;
        width: pr(240px);
        height: pr(40px);
        line-height: pr(40px);
        border: 1px solid #aaa;
        box-sizing: border-box;
        border-radius: pr(4px);
        font-size: pr(14px);
        outline: none;
        margin-right: pr(10px);
      }
      .submit{
        width: pr(160px);
        height: pr(40px);
        background-color: #d92912;
        border-radius: pr(20px);
        border: none;
        margin-right: 0;
        color: #ffffff;
      }
    }
  }
  .hint{
    font-size: pr(14px);
    line-height: pr(14px);
    color: #333333;
    text-align: center;
  }
}

/* 试听模块 */
.audition{
  width: pr(740px);
  //height: 240px;
  margin: pr(10px) auto;
  background: url("../images/audition-pc.png") no-repeat;
  background-size: 100% 100%;
  @extend %clearfix;
  padding-bottom: pr(19px);
  //display: none;
  .degree{
    width: pr(384px);
    height: pr(210px);
    padding-top: pr(48px);
    box-sizing: border-box;
    text-align: center;
    float: left;
    margin-left: pr(21px);
    .title{
      font-size: pr(28px);
      line-height: pr(32px);
      color: #ffffff;
      font-weight: bold;
    }
    .reap{
      width: pr(200px);
      margin-top: pr(24px);
      margin-left: auto;
      margin-right: auto;
      @extend %clearfix;
      span{
        display: block;
        width: pr(90px);
        height: pr(32px);
        line-height: pr(32px);
        border-radius: pr(6px);
        border: dashed 1px #ffffff;
        box-sizing: border-box;
        color: #ffffff;
        float: left;
        margin-right: pr(10px);
        margin-bottom: pr(10px);
        font-size: pr(16px);
      }
    }
  }
  .audition-from{
    width: pr(250px);
    float: right;
    margin-top: pr(29px);
    margin-right: pr(38px);
    input{
      width: pr(250px);
      height: pr(38px);
      line-height: pr(38px);
      background-color: #ffffff;
      border-radius: pr(4px);
      border: solid 1px #dddddd;
      box-sizing: border-box;
      margin-bottom: pr(10px);
    }
    .education{
      display: none;
    }
    .education-replace{
      overflow: visible;
      position: relative;
      width: pr(250px);
      height: pr(40px);
      line-height: pr(40px);
      margin-right: pr(50px);
      margin-bottom: pr(10px);
      @extend %in-b;
      .current-education{
        width: 100%;
        height: pr(40px);
        line-height: pr(40px);
        box-sizing: border-box;
        color: #888888;
        outline: none;
        margin-bottom: 0;
        cursor: pointer;
        border: solid 1px #dddddd;
        border-radius: pr(4px);
        background: url("../images/triangle-pc.png") #ffffff no-repeat 96% center; // position: 左右 上下
      }
      .education-options{
        display: none;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        border-radius: pr(4px);
        background-color: #ffffff;
        li{
          width: pr(250px);
          padding-left: 1em;
          box-sizing: border-box;
          border-left: 1px solid #a0a0a0;
          border-right: 1px solid #a0a0a0;
          text-align: left;
          color: #888888;
          &:hover{
            background-color: #f3461e;
            border-left: 1px solid #f3461e;
            border-right: 1px solid #f3461e;
            color: #ffffff;
          }
        }
      }
    }

    .submit{
      background-color: #f3461e;
      border-radius: pr(4px);
      border: none;
      font-size: pr(16px);
      color: #ffffff;
    }
  }
}

/* 邀请弹窗 */
.invite-popup{
  width: pr(600px);
  height: pr(350px);
  background: url("../images/invite-popup.png") no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  //display: none;
  .close{
    display: block;
    width: pr(18px);
    height: pr(18px);
    float: right;
    background: url("../images/close.png") no-repeat;
    background-size: 100% 100%;
    margin-top: pr(6px);
    margin-right: pr(6px);
    cursor: pointer;
  }
  .invite-data{
    width: pr(450px);
    height: pr(313px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 pr(4px) pr(13px) 0 rgba(0, 0, 0, 0.83);
    border-radius: pr(20px) pr(20px) 0 pr(20px);
    float: right;
    //margin-top: pr(19px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: pr(28px);
    margin: auto;
    ul {
      padding-top: pr(20px);
      padding-left: pr(30px);
      box-sizing: border-box;
      li {
        @extend %clearfix;
        .icon{
          display: block;
          width: pr(14px);
          height: pr(12px);
          background: url("../images/invite-popup-icon.png") no-repeat;
          background-size: 100% 100%;
          margin-right: pr(8px);
          float: left;
        }
        .detail{
          float: left;
          width: pr(387px);
          color: #333333;
          p {
            font-size: pr(16px);
            line-height: pr(16px);
            margin-bottom: pr(12px);
          }
          span {
            display: block;
            float: left;
            min-width: pr(95px);
            position: relative;
            margin-bottom: pr(20px);
            padding-left: pr(22px);
            cursor: pointer;
            font-size: pr(14px);
            height: pr(14px);
            line-height: pr(14px);
            box-sizing: border-box;
            &:before {
              content: "";
              width: pr(16px);
              height: pr(16px);
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 100%;
              background-color: #fff;
              border: 1px solid #999999;
              box-sizing: border-box;
              vertical-align: text-top;
            }
            &:after{
              content: "";
              width: pr(10px);
              height: pr(10px);
              position: absolute;
              top: pr(3px);
              left: pr(3px);
              border-radius: 100%;
            }
            &.active{
              &:before {
                border: 1px solid #999999;
              }
              &:after{
                background-color: #d92912;
              }
            }
          }
        }
      }
    }
    .invite-form {
      @extend %clearfix;
      input {
        float: left;
        width: pr(250px);
        height: pr(38px);
        line-height: pr(38px);
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        border-radius: pr(8px);
        font-size: pr(14px);
        outline: none;
        margin-right: pr(10px);
        background-color: #ffffff;
        &.user-tel{
          background: url("../images/star.png") no-repeat 5% center;
          text-indent: 2em;
        }
      }
      .submit{
        width: pr(136px);
        height: pr(38px);
        background-color: #d92912;
        border-radius: pr(8px);
        border: none;
        margin-right: 0;
        color: #ffffff;
      }
    }
  }
}

@media screen and (max-width:750px) {
  /* 测评模块 */
  .appraisal{
    .appraisal-data{
      ul{
        li{
          p{
            font-size: pr(24px);
          }
          span{
            font-size: pr(20px);
          }
        }
      }
      .appraisal-form{
        input{
          font-size: pr(20px);
        }
      }
    }
    .hint{
      font-size: pr(20px);
      line-height: pr(20px);
    }
  }

  /* 试听模块 */
  .audition{
    max-width: pr(750px);
    background: url("../images/audition-wap.png") no-repeat;
    background-size: 100% 100%;
    .degree{
      width: 100%;
      height: pr(189px);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: pr(34px);
      padding-bottom: pr(41px);
      margin-bottom: pr(50px);
      .title{
        font-size: pr(48px);
        line-height: pr(48px);
      }
      .reap{
        width: pr(565px);
        display: flex; // 移动端用 flex 布局
        justify-content: space-between;
        span{
          width: pr(130px);
          height: pr(42px);
          line-height: pr(42px);
          font-size:pr(26px);
          float: none;
        }
      }
    }
    .audition-from{
      width: pr(600px);
      margin-left: auto;
      margin-right: auto;
      margin-top: pr(50px);
      float: none;
      input{
        width: 100%;
        height: pr(70px);
        line-height: pr(70px);
        border-radius: pr(6px);
        margin-bottom: pr(20px);
        font-size: pr(28px);
      }
      .education-replace{
        width: 100%;
        height: pr(70px);
        line-height: pr(70px);
        margin-right: pr(50px);
        margin-bottom: pr(20px);
        .current-education{
          height: pr(70px);
          line-height: pr(70px);
          color: #999999;
          background: url("../images/triangle-wap.png") #ffffff no-repeat 88% center; // position: 左右 上下
          font-size: pr(28px);
        }
        .education-options{
          border-radius: pr(6px);
          font-size: pr(28px);
          li{
            width: pr(600px);
            color: #999999;
          }
        }
      }

      .submit{
        border-radius: pr(10px);
        font-size: pr(28px);
      }
    }
  }

  /* 邀请弹窗 */
  .invite-popup{
    width: pr(700px);
    height: pr(480px);
    .close{
      width: pr(20px);
      height: pr(20px);
      margin-top: pr(10px);
      margin-right: pr(10px);
    }
    .invite-data{
      width: pr(550px);
      height: pr(382px);
      right: pr(22px);
      ul{
        li{
          .detail{
            p{
              font-size: pr(20px);
              line-height: pr(20px);
            }
            span{
              font-size: pr(18px);
            }
          }
        }
      }
      .invite-form{
        input{
          width: pr(270px);
          font-size: pr(18px);
        }
        .submit{
          width: pr(150px);
        }
      }
    }
  }
}