$txt-color: #313131;
$bg-color: #af1b40;
$browser-default-font-size: 75px!default;
@function pr($px){
  @return $px / $browser-default-font-size * 1rem;
}

a {
  color: $txt-color;

  &:hover {
    color: $bg-color;
  }
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
  display: inline-block;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  *margin-top: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

%one {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%in-b {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

%clearfix {
  zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

input[type="text"],
input[type='radio'],
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  &::-webkit-input-placeholder {
    color: #999;
    font-size: inherit;
  }

  &:-moz-placeholder {
    color: #999;
    font-size: inherit;
  }

  &::-moz-placeholder {
    color: #999;
    font-size: inherit;
  }

  &:-ms-input-placeholder {
    color: #999;
    font-size: inherit;
  }
}

input[type="submit"] {
  cursor: pointer;
}

input,
textarea,
select {
  background-color: transparent;
  font-family: '微软雅黑';
}

select {
  border: none;
  text-indent: 1em;
  //background: url(../images/tri.png) no-repeat 95% center;
}

option {
  text-indent: 19px;
  font-family: '微软雅黑';
}

input[type='text'],
select {
  border: none;
  text-indent: 1em;
}

input[type="submit"] {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  //background: url(../images/submit.png) repeat-y;
  background-size: 100% auto;
  border-radius: 3px;
  text-align: center;
}

/* 测评模块 */
.appraisal {
  width: 740px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(176, 179, 184, 0.45);
  border-radius: 0 0 60px 60px;
  margin: 130px auto 10px; // 居中
  border-top: 1px solid transparent; // 解决 margin-top 塌陷
  padding-bottom: 33px;
  box-sizing: border-box;
  display: none;
  .top {
    height: 240px;
    margin-top: -120px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .text {
      position: absolute;
      top: 195px;
      left: 136px;
      font-size: 14px;
      color: #f2f2f2;

      span {
        color: #fdff5b;
      }
    }
  }
  .appraisal-data {
    width: 100%;
    //height: 1120px;
    margin-bottom: 28px;
    ul {
      padding-top: 20px;
      box-sizing: border-box;
      li {
        margin: 10px 10px 18px 40px;
        p {
          margin-bottom: 30px;
          margin-top: 2px;
          margin-left: -1px;
          font-size: 16px;
          color: #333333;
          input{
            width: 102px;
            height: 30px;
            border-radius: 4px;
            border: solid 1px #dddddd;
            box-sizing: border-box;
            margin-left: 1em;
            margin-right: 1em;
          }
        }
        span {
          display: inline-block;
          min-width: 146px;
          position: relative;
          margin-bottom: 22px;
          padding-left: 29px;
          cursor: pointer;
          font-size: 14px;
          height: 14px;
          line-height: 14px;
          color: #666666;
          padding-right: 24px;
          box-sizing: border-box;
          &:before {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid #333333;
            box-sizing: border-box;
            vertical-align: text-top;
          }
          &:after{
            content: "";
            width: 8px;
            height: 8px;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
          }
          &.active{
            &:before {
              border: 1px solid #d92912;
            }
            &:after{
              background-color: #d92912;
            }
          }
        }
      }
    }
    .sign-in {
      margin-left: 40px;
      margin-right: 40px;
      border-top: 1px dashed #dddddd;
      padding-top: 30px;
      box-sizing: border-box;
      @extend %clearfix;
      input {
        float: left;
        width: 240px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #aaa;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 14px;
        outline: none;
        margin-right: 10px;
      }
      .submit{
        width: 160px;
        height: 40px;
        background-color: #d92912;
        border-radius: 20px;
        border: none;
        margin-right: 0;
      }
    }
  }
  .hint{
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    text-align: center;
  }
}

/* 试听模块-pc */
.audition-pc{
  width: 740px;
  height: 240px;
  margin: 10px auto;
  position: relative;
  display: none;
  .pc-bg{
    position: absolute;
    top: 0;
    left: 0;
  }
  .degree{
    width: 384px;
    height: 210px;
    padding-top: 48px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 21px;
    text-align: center;
    .title{
      font-size: 28px;
      line-height: 32px;
      color: #ffffff;
      font-weight: bold;
    }
    .reap{
      width: 200px;
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
      @extend %clearfix;
      span{
        display: block;
        width: 90px;
        height: 32px;
        line-height: 32px;
        border-radius: 6px;
        border: dashed 1px #ffffff;
        box-sizing: border-box;
        color: #ffffff;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 16px;
      }
    }
  }
  .sign-in{
    width: 250px;
    position: absolute;
    top: 29px;
    right: 38px;
    input{
      width: 250px;
      height: 38px;
      line-height: 38px;
      background-color: #ffffff;
      border-radius: 4px;
      border: solid 1px #dddddd;
      box-sizing: border-box;
      margin-bottom: 10px;
    }
    .education{
      display: none;
    }
    .education-replace{
      overflow: visible;
      position: relative;
      width: 250px;
      height: 40px;
      line-height: 40px;
      margin-right: 50px;
      margin-bottom: 10px;
      @extend %in-b;
      .current-education{
        width: 100%;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        color: #888888;
        outline: none;
        margin-bottom: 0;
        cursor: pointer;
        border: solid 1px #dddddd;
        border-radius: 4px;
        background: url("../images/triangle-pc.png") #ffffff no-repeat 96% center; // position: 左右 上下
      }
      .education-options{
        display: none;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        border-radius: 4px;
        background-color: #ffffff;
        li{
          width: 250px;
          padding-left: 1em;
          box-sizing: border-box;
          border-left: 1px solid #a0a0a0;
          border-right: 1px solid #a0a0a0;
          text-align: left;
          color: #888888;
          &:hover{
            background-color: #f3461e;
            border-left: 1px solid #f3461e;
            border-right: 1px solid #f3461e;
            color: #ffffff;
          }
        }
      }
    }

    .submit{
      background-color: #f3461e;
      border-radius: 4px;
      border: none;
      font-size: 16px;
    }
  }
}

/* 试听模块-wap */
.audition-wap{
  max-width: pr(750px);
  height: pr(640px);
  margin-left: auto;
  margin-right: auto;
  margin-top: pr(20px);
  background: url("../images/audition-wap.png") no-repeat;
  display: none;
  .degree{
    width: pr(695px);
    height: pr(189px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: pr(34px);
    padding-bottom: pr(41px);
    box-sizing: border-box;
    .title{
      font-size: pr(48px);
      line-height: pr(48px);
      color: #ffffff;
      font-weight: bold;
    }
    .reap{
      width: pr(565px);
      margin-top: pr(24px);
      margin-left: auto;
      margin-right: auto;
      display: flex; // 移动端用 flex 布局
      justify-content: space-between;
      span{
        display: block;
        width: pr(130px);
        height: pr(42px);
        line-height: pr(42px);
        border-radius: pr(6px);
        font-size:pr(26px);
        border: dashed 1px #ffffff;
        box-sizing: border-box;
        color: #ffffff;
      }
    }
  }
  .sign-in{
    width: pr(600px);
    margin-left: auto;
    margin-right: auto;
    margin-top: pr(50px);
    input{
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      background-color: #ffffff;
      border-radius: pr(6px);
      border: solid 1px #dddddd;
      box-sizing: border-box;
      margin-bottom: pr(20px);
      font-size: pr(28px);
    }
    .education-wap{
      display: none;
    }
    .education-wap-replace{
      overflow: visible;
      position: relative;
      width: 100%;
      height: pr(70px);
      line-height: pr(70px);
      margin-right: pr(50px);
      margin-bottom: pr(20px);
      @extend %in-b;
      .current-wap-education{
        width: 100%;
        height: pr(70px);
        line-height: pr(70px);
        box-sizing: border-box;
        color: #999999;
        outline: none;
        margin-bottom: 0;
        cursor: pointer;
        border: solid 1px #dddddd;
        border-radius: 4px;
        background: url("../images/triangle-wap.png") #ffffff no-repeat 88% center; // position: 左右 上下
        font-size: pr(28px);
      }
      .education-wap-options{
        display: none;
        position: absolute;
        z-index: 10;
        cursor: pointer;
        border-radius: pr(6px);
        background-color: #ffffff;
        font-size: pr(28px);
        li{
          width: pr(600px);
          padding-left: 1em;
          box-sizing: border-box;
          border-left: 1px solid #a0a0a0;
          border-right: 1px solid #a0a0a0;
          text-align: left;
          color: #999999;
          &:hover{
            background-color: #f3461e;
            border-left: 1px solid #f3461e;
            border-right: 1px solid #f3461e;
            color: #ffffff;
          }
        }
      }
    }

    .submit{
      background-color: #f3461e;
      border-radius: pr(10px);
      font-size: pr(28px);
      border: none;
    }
  }
}

/* 邀请弹窗 */
.invite-popup{
  width: pr(600px);
  height: pr(350px);
  background: url("../images/invite-popup.png") no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: pr(20px);
  .close{
    display: block;
    width: pr(18px);
    height: pr(18px);
    float: right;
    background: url("../images/close.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 6px;
    margin-right: 6px;
    cursor: pointer;
  }
  .invite-data{
    width: pr(450px);
    height: pr(313px);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 pr(4px) pr(13px) 0 rgba(0, 0, 0, 0.83);
    border-radius: pr(20px) pr(20px) 0 pr(20px);
    float: right;
    margin-top: pr(19px);
    margin-right: pr(6px);
    ul {
      padding-top: pr(20px);
      padding-left: pr(30px);
      box-sizing: border-box;
      li {
        @extend %clearfix;
        .icon{
          display: block;
          width: pr(14px);
          height: pr(12px);
          background: url("../images/invite-popup-icon.png") no-repeat;
          background-size: 100% 100%;
          margin-right: pr(8px);
          float: left;
        }
        .detail{
          float: left;
          width: pr(387px);
          color: #333333;
          p {
            font-size: pr(16px);
            line-height: pr(16px);
            margin-bottom: pr(12px);
          }
          span {
            display: block;
            float: left;
            min-width: pr(95px);
            position: relative;
            margin-bottom: pr(20px);
            padding-left: pr(22px);
            cursor: pointer;
            font-size: pr(14px);
            height: pr(14px);
            line-height: pr(14px);
            box-sizing: border-box;
            &:before {
              content: "";
              width: pr(16px);
              height: pr(16px);
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 100%;
              background-color: #fff;
              border: 1px solid #999999;
              box-sizing: border-box;
              vertical-align: text-top;
            }
            &:after{
              content: "";
              width: pr(10px);
              height: pr(10px);
              position: absolute;
              top: pr(3px);
              left: pr(3px);
              border-radius: 100%;
            }
            &.active{
              &:before {
                border: 1px solid #999999;
              }
              &:after{
                background-color: #d92912;
              }
            }
          }
        }
      }
    }
    .sign-in {
      @extend %clearfix;
      input {
        float: left;
        width: pr(250px);
        height: pr(38px);
        line-height: pr(38px);
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        border-radius: pr(8px);
        font-size: pr(14px);
        outline: none;
        margin-right: pr(10px);
        background-color: #ffffff;
        &.user-tel{
          background: url("../images/star.png") no-repeat 5% center;
          text-indent: 2em;
        }
      }
      .submit{
        width: pr(136px);
        height: pr(38px);
        background-color: #d92912;
        border-radius: pr(8px);
        border: none;
        margin-right: 0;
      }
    }
  }
}
