$browser-default-font-size: 75px!default;
@function pr($px){
  @return $px / $browser-default-font-size * 1rem;
}

/* 邀请弹窗 */
%clearfix {
  zoom: 1;
  &:after {
    clear: both;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
}

.invite-popup{
  width: 600px;
  height: 350px;
  background: url("https://img.thea.cn/public/platform/thea/201906/hbj/form-popup/images/invite-popup.png") no-repeat;
  background-size: 100% 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
  z-index: 300;
  .close{
    display: block;
    width: 18px;
    height: 18px;
    float: right;
    background: url("https://img.thea.cn/public/platform/thea/201906/hbj/form-popup/images/close.png") no-repeat;
    background-size: 100% 100%;
    margin-top: 6px;
    margin-right: 6px;
    cursor: pointer;
  }
  .invite-data{
    width: 450px;
    height: 313px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.83);
    border-radius: 20px 20px 0 20px;
    float: right;
    //margin-top: pr(19px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 28px;
    margin: auto;
    ul {
      padding-top: 20px;
      padding-left: 30px;
      box-sizing: border-box;
      li {
        @extend %clearfix;
        .icon{
          display: block;
          width: 14px;
          height: 12px;
          background: url("https://img.thea.cn/public/platform/thea/201906/hbj/form-popup/images/invite-popup-icon.png") no-repeat;
          background-size: 100% 100%;
          margin-right: 8px;
          float: left;
        }
        .detail{
          float: left;
          width: 387px;
          color: #333333;
          p {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 12px;
          }
          span {
            display: block;
            float: left;
            min-width: 95px;
            position: relative;
            margin-bottom: 20px;
            padding-left: 22px;
            cursor: pointer;
            font-size: 14px;
            height: 14px;
            line-height: 14px;
            box-sizing: border-box;
            &:before {
              content: "";
              width: 16px;
              height: 16px;
              position: absolute;
              left: 0;
              top: 0;
              border-radius: 100%;
              background-color: #fff;
              border: 1px solid #999999;
              box-sizing: border-box;
              vertical-align: text-top;
            }
            &:after{
              content: "";
              width: 10px;
              height: 10px;
              position: absolute;
              top: 3px;
              left: 3px;
              border-radius: 100%;
            }
            &.active{
              &:before {
                border: 1px solid #999999;
              }
              &:after{
                background-color: #d92912;
              }
            }
          }
        }
      }
    }
    .invite-form {
      @extend %clearfix;
      input {
        float: left;
        width: 250px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #bbbbbb;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 14px;
        outline: none;
        margin-right: 10px;
        background-color: #ffffff;
        &.user-tel{
          background: url("https://img.thea.cn/public/platform/thea/201906/hbj/form-popup/images/star.png") no-repeat 5% center;
          text-indent: 2em;
        }
      }
      .submit{
        width: 136px;
        height: 38px;
        background-color: #d92912;
        border-radius: 8px;
        border: none;
        margin-right: 0;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width:750px) {
  /* 邀请弹窗 */
  .invite-popup{
    width: pr(700px);
    height: pr(480px);
    .close{
      width: pr(20px);
      height: pr(20px);
      margin-top: pr(10px);
      margin-right: pr(10px);
    }
    .invite-data{
      width: pr(550px);
      height: pr(382px);
      right: pr(22px);
      ul{
        li{
          .detail{
            p{
              font-size: pr(20px);
              line-height: pr(20px);
            }
            span{
              font-size: pr(18px);
            }
          }
        }
      }
      .invite-form{
        input{
          width: pr(270px);
          font-size: pr(18px);
        }
        .submit{
          width: pr(150px);
        }
      }
    }
  }
}